body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-mainpage{
    width: 100%;
    border: none;
}
#map{
    height:25%;
    width: 100%;
}
iframe:not(#map){
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}